/target
/Cargo.lock
.vscode/
*.bin
example/decoder/target/*
examples/decoder/target
librust_out.a
output_cpp.h264
output_cpp.mp4
output_rust.h264
output_rust.mp4
output_rust.nv12
profile.nsys-rep
profile.qdstrm
profile.sqlite
